---
- hosts: all
  pre_tasks:
    - apt:
        update_cache: yes
    - apt:
        name: "python3-pip"
        state: "present"
        update_cache: yes
    - shell: python3 -m pip install -U pip
  roles:
    - insight_infra.cloud_helper
    - geerlingguy.pip
    - geerlingguy.docker
%{ if roles != null ~}
%{ for role in roles ~}
    - ${role}
%{ endfor ~}
%{ endif ~}
  vars:
    enable_cloud_wait: true
    enable_jq: true
    pip_install_packages:
      - name: docker
      - name: docker-compose
